[user]
    name = Justin-p
    email = justin-p@users.noreply.github.com
    signingkey = ~/.ssh/justin_p_github_signing_key.pub
[includeIf "gitdir:~/git/gitlab-work/"]
    path = .gitconfig-work
[includeIf "gitdir:~/.ansible/tmp/"]
    path = .gitconfig-work

[core]
    autocrlf = false
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = true
    editor = code -n -w # VS Code
    excludesfile = ~/.gitignore_global
    longpaths = true
    
[color]
    ui = true
    
[push]
    default = current
    autoSetupRemote = true

[pager]
    log = less -FRX
    show = less -FRX
    diff = less -FRX

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = ~/.config/git/allowed_signers

[commit]
    gpgsign = true

[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process

[init]
    defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
