(
    name: "Bearded Theme feat. Gold D Raynh",
    foreground: "#b8c4e4",
    background: "#0e1424",
    cursor: "#ffd000",
    bright_foreground: "#ffffff",
    dim_foreground: "#93a6d6",
    normal: (
        black: "#0f1628",
        red: "#f7775a",
        green: "#21ff7d",
        yellow: "#ffd000",
        blue: "#3eb2ff",
        magenta: "#e4ac73",
        cyan: "#44f8e9",
        white: "#b8c4e4",
    ),
    bright: (
        black: "#2b3d6d",
        red: "#ff7252",
        green: "#21ff7d",
        yellow: "#ffd000",
        blue: "#3eb2ff",
        magenta: "#fdac5a",
        cyan: "#3dffef",
        white: "#ffffff",
    ),
    dim: (
        black: "#070a12",
        red: "#a04d3a",
        green: "#15a651",
        yellow: "#a58700",
        blue: "#2873a6",
        magenta: "#946f4a",
        cyan: "#2ca197",
        white: "#7780a0",
    ),
)
