[Unit]
Description=Sync ~/.ssh with ~/homesrv/.ssh
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/sync-ssh-keys-to-homesrv --quiet
